.title-news {
    font-size: 30px;
    color: #f58438;
    font-weight: 700;
}

.news {
    margin: 0;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: stretch;
    background-color: #121212;
}

.news-container {
    display: flex;
    flex-direction: column;
    padding: 100px;
    height: 100vh;
}